<h1>Cognitive Reflection Test</h1>

<p>The following survey questions are taken from the cognitive reflection test.</p>

<p>Enter your answers to the questions in the text boxes.</p> 
<p>USE ONLY NUMBERS IN YOUR ANSWERS.</p>

<form action='/survey' method='post'>
  <ol>
    <li>
      A bat and a ball cost $1.10 in total. The bat costs $1.00 more than the ball. How much does the ball cost?
      <br>
      <input type='text' name='quest1' id='quest1'> cents
    </li>
    <li>
      If it takes 5 machines 5 minutes to make 5 widgets, how long would it take 100 machines to make 100 widgets?
      <br>
      <input type='text' name='quest2' id='quest2'> minutes
    </li>
    <li>
      In a lake, there is a patch of lily pads. Every day, the patch doubles in size. If it takes 48 days for the patch to cover the entire lake, how long would it take for the patch to cover half of the lake?
      <br>
      <input type='text' name='quest3' id='quest3'> days
    </li>
  </ol>
  <input type='submit' value='Score Test'>
</form>