<h1>Cognitive Reflection Test</h1>

<p>The following survey questions are taken from the <a href='https://en.wikipedia.org/wiki/Cognitive_reflection_test'>cognitive reflection test</a>.</p>

<p>Enter your answers to the questions in the text boxes.</p> 

<p>USE ONLY NUMBERS IN YOUR ANSWERS.</p>

<form action='/survey' method='post'>
  <ol>
    <% INSTRUMENT.each_with_index do |item, index| %>
      <li>
        <%= item[:question] %>
        <br>
        <input type='number' name="quest<%= index %>" id="quest<%= index %>"> <%= item[:unit] %>
      </li>
      <br>
    <% end %>
  </ol>
  <input type='submit' value='Score Test'>
</form>