body {
  background-color: cornsilk;
}

li {
  padding: 0.5rem;
}

.actions {
  padding: 0.5rem;
}

.solutions {
  font-style: italic;
  background-color: palegreen;
}

.correct, .incorrect {
  font-style: bold;
  display: inline;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}