body {
  background-color: cornsilk;
  font-size: large;
}

button, form, input {
  font-size: xx-large;
}

.actions {
  padding: 0.5rem;
  font-size: xx-large;
}

.field {
  height: 500%;
}

.solutions {
  font-style: italic;
  background-color: palegreen;
}

.correct, .incorrect {
  font-style: bold;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}